.vote{
    width: 100%;
    position: relative;

    &__link{
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
    }

    &__body{
        display: flex;
        flex-direction: column;
    }
}
